mixin item(src, name)
	.item
		img(data-src="/assets/img/index/service-items/"+src
			width="225"
			height="258"
			class="lazyload"
			)
		span
			a(href="#")= name

mixin price(src, name, array)
	.item
		img(data-src="/assets/img/price/"+src
			class="lazyload"
			)
		p= name
		ul
			each val, index in array
				li
					span.key= index
					span.value= val			
