mixin item(src, name)
	.item
		img(data-src="/assets/img/index/service-items/"+src
			width="225"
			height="258"
			class="lazyload"
			)
		span
			a(href="#")= name

mixin price(src, name, array)
	.item
		img(data-src="/assets/img/price/"+src
			class="lazyload"
			)
		p= name
		ul
			each val, index in array
				li
					span.key= index
					span.value= val


mixin fancy(big, small)
	.item
		a(data-fancybox="gallery" href="/assets/img/service/"+big)
			img(data-src="/assets/img/service/"+small
				width="225"
				height="258"
				class="lazyload"
				)
mixin info(name)
	.item
		p
			a(href="#")= name
		a.open(href="#") Открыть	 			
